.banner {
    background-image: url('../public/assets/Cloud-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1e213a;    
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 33, 58, 0.9);
}

.main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    top: 20rem;
    left: 0;
    right: 0;
    margin:auto;
    text-align: center;
    color: white;
}

.img {
    width: 150px;
    margin:auto;
} 

.temp {
    color:white;
    top: 30rem;
    z-index: 100;
    font-size: 2rem;
}