.card-today {
    width: 328px;
    height: 204px;
    background:#1E213A;
    margin:auto;
    color:#E7E7EB;
    text-align: center;
    padding-top: 2rem;
}


.name {
    font-size: 1.6rem;
    margin: 0;
    text-transform: capitalize;
}

.value {
    font-size:6.4rem;
    font-weight: bold;
    margin: 0;
}

.measure {
    font-size: 3.5rem;
    font-weight: lighter;
}

@media screen and (min-width: 600px) {
     .card-today {
         height: 159px;
     } 
    
}