.footer {
    padding: 1rem;
    padding-top: 5rem;
    color:#A09FB1;
    text-align: centers;
    font-size: 1.4rem;
    text-align: center;
}

.footer span {
    border-bottom: 1px solid #A09FB1;
    font-family: 'montserrat', sans-serif;
}