html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #100E1D;
  font-family:'Raleway', sans-serif;;
}

html {
  font-size: 62.5%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.modal-search {
    position: absolute;
    width:  100%;
    height: 100%;
    top: 0;
    background:#1E213A;
    text-align: center;
    z-index: 200;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}


.show-modal {
    transform: translateX(0%); 
}

@media screen and (min-width: 600px) {
    .modal-search {
      width:25%;
    }
}