
.modal-form button {
    background:#3C47E9;
    outline: none;
    color:white;
    border: none;
    margin-left: 1rem;
    padding: 1rem 2rem;
}

.modal-form input {
    background:none;
    border: white 1px solid;
    padding: 0.8rem ;
    width: 252px;
    color:white;
    outline: none;
}
.modal-form input:focus {
    border: white 2px solid;
}


.modal-close {
    background:none;
    border: none;
    color:white;
    position: absolute;
    top: 5px;
    right:15px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.container-suggestion {
    text-align: left;
    color: white; 
    padding: 2rem;
}

.container-suggestion p {
    font-size: 1.6rem;
    padding:2rem; 
    cursor: pointer;
}